.custom-select-dd {
  width: 204px;
  padding: 0.25rem 0.5rem;
  //padding: .375rem .75rem;
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
  background: #fff;
  -webkit-appearance: none;
  margin-left: 0em;
}
.btn-default {
  margin-left: 1.5em
}
.was-validated {
  input.ng-invalid,
  select.ng-invalid {
    border: 1px solid lightcoral;
    background: white !important;
  }
  input.ng-valid,
  select.ng-valid {
    border: 1px solid lightgreen;
  }
}
