.was-validated {
  input.ng-invalid,
  select.ng-invalid {
    border: 1px solid lightcoral;
  }
  input.ng-valid,
  select.ng-valid {
    border: 1px solid lightgreen;
  }
}
.cs-height {
  height: 35px !important;
}
:host ::ng-deep {
  .card .card-body.scrollable {
    margin-bottom: 45px;
  }

  @media (min-width: 992px) {
    .fullheight-fixed {
      height: calc(100vh - 203px);
    }
  }
  .p-2 {
    padding: 0.5rem !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .multiselect-dropdown {
    .dropdown-list {
      border: 1px solid #ced4da !important;
    }
    .dropdown-btn {
      border: 1px solid #ced4da !important;
      border-radius: 0.1rem !important;
      .dropdown-down {
        border-top: 5px solid #7a8994 !important;
        border-left: 5px solid transparent !important;
        border-right: 5px solid transparent !important;
      }
      .dropdown-up {
        border-bottom: 5px solid #7a8994 !important;
        border-left: 5px solid transparent !important;
        border-right: 5px solid transparent !important;
      }
      .selected-item {
        border-color: #dddddd !important;
        background-color: #dddddd !important;
        color: #7a8994 !important;
        a {
          color: #7a8994 !important;
        }
      }
    }
  }

  .item1 {
    .multiselect-item-checkbox {
      border-bottom: 1px solid #ced4da !important;
    }
  }

  .multiselect-item-checkbox {
    input[type="checkbox"] + div:before {
      border: 1px solid #ced4da !important;
    }
  }
  .multiselect-item-checkbox {
    input[type="checkbox"] + div:after {
      border-color: #7a8994 !important;
    }
  }

  .multiselect-item-checkbox input[type="checkbox"]:checked + div:before {
    -webkit-animation: none !important;
    animation: none !important;

    background: white !important;
    border: 1px solid #ced4da !important;
  }
  .form-control {
    padding: 6px 12px !important;
  }
  .app-form .form-group.trad select.form-control,
  .app-form .form-group.trad .form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ced4da;
    font-family: Arial, sans-serif;
    color: inherit;
    outline: 0;
    padding: 8px 12px;
    line-height: normal;
    font-size: 13px;
    font-weight: 400;
    vertical-align: middle;
    min-height: 30px !important;
    height: auto;
    border-radius: 2px;
  }
}
