<div class="container-fluid">
    <div class="table-container">
      <div class="card card-bordered fullheight-min">
        <div class="card-header">
          <div class="header-flex-container">
            <div class="card-title col-4">EXAM LIST
            </div>
            <div class="paging-block col-4">            
              <ngx-ixcheck-table-outer-pagination *ngIf="notFound == false " [itemCount]="itemCount"
                [lastSeenIdMax]="lastSeenIdMax" [lastSeenIdMin]="lastSeenIdMin" [lastOffset]="lastOffset"
                (loadTable)="reloadItems($event,false)">
              </ngx-ixcheck-table-outer-pagination>

            </div>
            <div class="filter-container col-4">
              <button  class="btn btn-sm btn-primary" style="float: left;"  id="submitBtn"  type="button"  (click)="refreshExamList()">
                Refresh Exam list</button>
              <div id="bubbleBlock" class="bubble-block">
                <app-ngx-ixcheck-bubble (updateSearchData)="updateSearch($event)" (resetFilterData)="resetFilter()"
                  [items]="config.data[0]" [showCountIcon]="config.settings.show_count_icon">
                </app-ngx-ixcheck-bubble>
              </div>
              <div class="filter-block" filterToggle>
                <a class="filter-slider">
                  <svg-icon class="filter-slider" src="assets/images/sliders.svg"></svg-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="basicTable_wrapper" class="dataTables_wrapper no-footer">
            <div class="data-table p-0" *ngIf="notFound == false ">
              <ngx-ixcheck-table id="packages-setup-list" headerTitle="Exam List" [items]="items"
                [indexColumn]="false" [itemCount]="itemCount" [lastSeenIdMax]="lastSeenIdMax"
                [lastSeenIdMin]="lastSeenIdMin" [lastOffset]="lastOffset" [offset]="offset" [selectColumn]="false"
                [expandOnIndexColClick]="false" [expandOnRowClick]="false" [paginationStyleType]="paginationStyle">
                <ng-template #rowDetailExpand let-rowitem="item">
                </ng-template>
                <ngx-ixcheck-table-column [property]="'id'" [header]="'ID'" [sortable]="false" [resizable]="true" [width]="70" [visible]="false">
                </ngx-ixcheck-table-column>
                <ngx-ixcheck-table-column [property]="'exam_number'" [header]="'Exam Number'" [sortable]="false">
                </ngx-ixcheck-table-column>
                <ngx-ixcheck-table-column [property]="'code'" [header]="'Code'" [sortable]="false">
                </ngx-ixcheck-table-column>
                <ngx-ixcheck-table-column [property]="'name'" [header]="'Name'" [sortable]="false">
                </ngx-ixcheck-table-column>      
                <ngx-ixcheck-table-column [property]="'exam_type'" [header]="'Type'" [sortable]="false">
                </ngx-ixcheck-table-column>             
                <ngx-ixcheck-table-column [property]="'planning_status'" [header]="'Plan Status'" [colType]="'custom'">
                  <ng-template #colDetailComponent let-rowitem="item">
                    <span class="badge {{rowitem.plan_status_css_tag}}">{{rowitem.planning_status}}</span>
                  </ng-template>
                </ngx-ixcheck-table-column>
                <ngx-ixcheck-table-column [property]="'status'" [header]="'Status'" [colType]="'custom'">
                  <ng-template #colDetailComponent let-rowitem="item">
                    <span class="badge {{rowitem.status_css_tag}}">{{rowitem.status_text}}</span>
                  </ng-template>
                </ngx-ixcheck-table-column>
                <ngx-ixcheck-table-column [colType]="'custom'">
                  <ng-template #colHeaderComponent>Action</ng-template>
                  <ng-template #colDetailComponent let-rowitem="item">
                    <div class="btn-group" dropdown>
                      <a href="/#/admitcard/setup/{{rowitem.exam_guid}}/manage">Manage</a>
                      <ng-container *ngIf="rowitem.plan_status_text !== 'Pending'">
                      <a class="icon-action-dropdown" dropdownToggle aria-controls="dropdown-autoclose1"
                        placement="right">
                        <svg-icon src="assets/images/chevron-down.svg"></svg-icon>
                      </a>
                      <ul id="dropdown-autoclose1" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                        aria-labelledby="button-autoclose1">
                        <li role="menuitem">
                          <a href="/#/admitcard/setup/{{rowitem.exam_guid}}/view" (click)="$event.stopPropagation();"
                            class="dropdown-item">View</a>
                        </li>
                      </ul>
                     </ng-container>
                    </div>
                  </ng-template>
                </ngx-ixcheck-table-column>
              </ngx-ixcheck-table>
            </div>
            <div class="not-found-container" *ngIf="notFound == true ">
              <h5>
                No Data Available...
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-setup-filter 
  #featureFilter 
  (updateEvent)="updateTable($event)" 
  [resetFlter]="resetFilterFlag"
  [updatedFilter]="count">
</app-setup-filter>