<div class="container-fluid">
    <div class="card card-bordered fullheight-fixed">
        <div class="card-body scrollable p-0">
            
            <form [formGroup]="finalReviewFormGroup" id="finalReviewFormGroup">
                <div class="row app-form">

                    <div class="col-md-3 col-lg-3">
                        <div class="form-group trad foc">
                            <label>Registration CODE</label>
                            <input type="text" class="form-control" formControlName="code">
                        </div>
                        <div class="form-group foc trad">
                            <label>Registration NAME</label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                        <div class="form-group foc trad">
                            <label>Registration TYPE</label>
                            <input type="text" class="form-control" formControlName="reg_list_type_name">
                        </div>
                        <div class="form-group trad foc">
                            <label>RANDOMIZE REGISTRATIONS</label>
                            <select class="form-control" formControlName="randomize_reg">
                                <option [selected] value="">Select</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                        <div class="form-group foc trad">
                            <label>ADMIT CARD DISTRIBUTION SCHEDULE</label>
                            <select class="form-control" formControlName="distribution_schedule">
                                <option [selected] value="0">Select</option>                                
                                <option [value]="item.id" *ngFor="let item of admitCardDistributionSchedule">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="form-group trad foc">                            
                            <label>DAYS FOR DISTRIBUTION</label>
                            <input type="number" min="0" class="form-control" formControlName="days_for_distribution">
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                        <div class="form-group foc trad">
                            <label>SHOW CENTRE'S MAP</label>
                            <select class="form-control" formControlName="centre_map">
                                <option [selected] value="">Select</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                        <div class="form-group trad foc">                            
                            <label>DISTRIBUTION METHOD</label>
                            <select class="form-control" formControlName="distribution_method">
                                <option [selected] value="0">Select</option>
                                <option [value]="item.id" *ngFor="let item of admitCardDistributionMethod">{{item.name}}</option>                                
                            </select>
                        </div>
                    </div>
       
                </div>

<br>
          <h6>VERIFICATION</h6>
            <div class="row app-form">
                <div class="col-md-4 col-lg-4">
                    <div class="form-group trad foc">                        
                        <label>MOBILE#</label>
                        <input type="text" class="form-control" formControlName="mobileNo">
                        
                    </div>
                </div>

                <div class="col-md-2 col-lg-2">
                    <div class="form-group trad foc">                        
                        <button style="margin-top: 25px;" class="btn btn-sm btn-primary float-left" type="button" >SEND TEST SMS</button>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4">
                    <div class="form-group foc trad">                        
                        <label>EMAIL-ID</label>
                        <input type="text" class="form-control"  formControlName="emailId">
                    </div>
                </div>

                <div class="col-md-2 col-lg-2">
                    <div class="form-group trad foc">                         
                        <button style="margin-top: 25px;" class="btn btn-sm btn-primary float-left" type="button" >SEND TEST EMAIL</button>
                    </div>
                </div>
            </div>
        </form>

        </div>
        <div class="card-footer border-0">
            <button class="btn btn-sm btn-primary" id="submitBtn" type="submit" (click)="onFinalReviewFormSubmit()"
                [disabled]="!finalReviewFormGroup.valid">FINALIZE</button>
            <button class="btn btn-sm btn-default float-right" type="button" (click)="reset()">RESET</button>
        </div>
    </div>

</div>