:host ::ng-deep{
    $light-gray-bg:#f2f2f2;
    #menu-container{
        background-color: $light-gray-bg;
        border: 1.5px solid #d8d8d8;
        ul{
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          li{
            float: left;
            a{
              display: block;        
              text-align: center;
              padding: 5px 20px;
              text-decoration: none;
              color: #000000 !important;
              opacity: 1 !important;
              font-size: 17px;
              cursor: pointer;
            }
            a.active{
              background-color: #96c3e6;
            }
          }
        }  
      }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 200px;  
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #d8d8d8;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}

