<div class="container-fluid">
    <div class="card card-bordered fullheight-fixed-allocate">
        <div class="card-body">
            <form class="app-form" id="allocationAlgoForm" [formGroup]="allocationAlgoFormGroup" novalidate="">

                <div class="row">
                    <div class="col-lg-6 col-sm-4">
                        <div class="row">
                            <!-- Exam Days  -->
                            <div class="col-lg-12 col-sm-12 form-group trad foc">
                                <label for="algo" class="col-lg-12 p-2 mb-0">ALLOCATION ALGO</label>
                                <select class="col-lg-7 p-2 form-control form-control-sm" formControlName="algo"
                                    id="algo">
                                    <option value="" [selected]="true">Select</option>
                                    <option *ngFor="let item of algoList" [value]="item.guid">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>

                        </div>
                    </div>

                </div>

            </form>
            <br>
       

            <label>ALLOCATION PREFERENCE ORDER</label>
            <ngx-ixcheck-table3 [id]="'products-grid'" [headerTitle]="'Product'" [items]="allocationPreferenceList" [dragColumn]="false"
                [indexColumn]="true" [indexColumnHeader]="'#'" [itemCount]="itemCount" [tableName]="'products-grid'"
                [selectColumn]="true" [expandOnIndexColClick]="false" [expandOnRowClick]="false" [pagination]="false"
                [addRows]="false" [dragIcon]="" [dragCss]="" [expandRowIcons]="{
                            expanded: 'fa fa-plus-circle fa-lg',
                            closed: 'fa fa-plus-circle fa-lg'
                        }" [expandRowCss]="{
                            expanded: { color: 'green' },
                            closed: { color: 'gray' }
                        }" [sortIndexOnDrop]="true" [deleteCss]="{ color: 'red' }">
            
                <ngx-ixcheck-table3-column [colType]="'custom'">
                    <ng-template #colHeaderComponent>#</ng-template>
                    <ng-template #colDetailComponent let-rowitem="item">
                        {{rowitem.line_num}}
                    </ng-template>
                </ngx-ixcheck-table3-column>
                
                <!-- Allocation Preference Name -->
                <ngx-ixcheck-table3-column [colType]="'custom'">
                    <ng-template #colHeaderComponent>ALLOCATION PREFERENCE NAME</ng-template>
                    <ng-template #colDetailComponent let-rowitem="item">
                        <label>{{rowitem['name']}}</label>                            
                    </ng-template>
                </ngx-ixcheck-table3-column>
            </ngx-ixcheck-table3>

        </div>
    </div>
</div>