<aside class="filter-menu" id="filterDiv">
    <div class="card card-bordered fullheight-fixed">
        <div class="card-header">
            <div class="card-title">Filter</div>
            <div class="card-controls">
                <ul>
                    <li>
                        <a class="icon-filter-close" filterToggle bubbleClose>
                            <svg-icon class="icon-filter-close" src="assets/images/close.svg"></svg-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body scrollable">
            <div class="card-body section-body section-body-sm p-2">

                <form novalidate name=" jobForm" id=" jobForm" [formGroup]=" jobFormGroup" (submit)="onApisFormSubmit()"
                    class="p-0">
                    <div class="form-group mb-0">
                        <label for="id" class="mb-0">Id</label>
                        <input type="text" class="form-control form-control-sm" maxlength="50" name="id" id="id"
                            formControlName="id" title="ID">
                    </div>
                    <div class="form-group mb-0">
                        <label for="code" class="mb-0">Code</label>
                        <input type="text" class="form-control form-control-sm"
                            [ngClass]="{red:! jobFormGroup.controls['code'].valid}" maxlength="50" name="code" id="code"
                            formControlName="code" title="Code">
                    </div>
                    <div class="form-group mb-0">
                        <label for="job_type_id" class="mb-0">Job Type</label>
                        <select class="form-control form-control-sm" id="job_type_id" name="job_type_id"
                            title="Job Type" formControlName="job_type_id">
                            <option value="">All</option>
                            <option *ngFor="let job_type of  jobTypeList" [value]="job_type.id">{{job_type.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group mb-0">
                        <label for=" default_threshold_limit" class="mb-0">Default Threshold Limit</label>
                        <input type="text" class="form-control form-control-sm" maxlength="50"
                            name="default_threshold_limit" id=" default_threshold_limit"
                            formControlName="default_threshold_limit" title="Default Threshold Limit">
                    </div>
                    <div class="form-group mb-0">
                        <label for="recurring" class="mb-0">Recurring</label>
                        <select class="form-control form-control-sm" id="recurring" name="recurring"
                            formControlName="recurring" title="Recurring">
                            <option value="">All</option>
                            <option *ngFor="let _status of recurring" [value]="_status.value">
                                {{_status.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group mb-0">
                        <label for="job_status_id" class="mb-0">Job Status</label>
                        <select class="form-control form-control-sm" id="job_status_id" name="job_status_id"
                            title="Job Status"  formControlName="job_status_id">
                            <option value="">All</option>
                            <option *ngFor="let job_status of jobStatusList" [value]="job_status.id">
                                {{job_status.name}}</option>
                        </select>
                    </div>
                    <div class="form-group mb-0">
                        <label for="status" class="mb-0">Status</label>
                        <select class="form-control form-control-sm" id="status" name="status" formControlName="status"
                            title="Status">
                            <option value="">All</option>
                            <option *ngFor="let status of statusList" [value]="status.value">{{status.name}}
                            </option>
                        </select>
                    </div>
                </form>

            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-sm px-4" id="btnSubmit" type="submit" (click)="onApisFormSubmit()"
                form="jobForm">Apply</button>
            <button class="btn btn-default btn-sm px-4 float-right" id="btnReset" type="reset"
                (click)="resetFilters()">Reset</button>
        </div>
    </div>
</aside>