<aside class="filter-menu" id="filterDiv">
    <div class="card card-bordered fullheight-fixed">
      <div class="card-header">
        <div class="card-title">Filter</div>
        <div class="card-controls">
          <ul>
            <li>
              <a class="icon-filter-close" filterToggle bubbleClose>
                <svg-icon class="icon-filter-close" src="assets/images/close.svg"></svg-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body scrollable">    
        <div class="card-body section-body section-body-sm p-2">
          <form novalidate name="centresMappingListForm" id="centresMappingListForm" [formGroup]="centresMappingListFormGroup" (submit)="oncentresMappingListFormSubmit($event)"
            class="p-0">

            <div class="form-group mb-0">
              <label for="Exam" class="mb-0">Exam #</label>
              <input type="text" class="form-control form-control-sm" [ngClass]="{red:!centresMappingListFormGroup.controls['exam_number'].valid}" name="exam_number" id="exam_number" formControlName="exam_number">
            </div>
            <div class="form-group mb-0">
              <label for="Exam Code" class="mb-0">Exam Code</label>
              <input type="text" class="form-control form-control-sm" [ngClass]="{red:!centresMappingListFormGroup.controls['code'].valid}" name="code" id="code" formControlName="code">
            </div>
            <div class="form-group mb-0">
              <label for="Exam Name" class="mb-0">Exam Name</label>
              <input type="text" class="form-control form-control-sm" [ngClass]="{red:!centresMappingListFormGroup.controls['name'].valid}" name="name" id="name" formControlName="name">
            </div>
          
            <div class="form-group mb-0">
                <label for="Exam type" class="mb-0">Exam type</label>
                <select class="form-control form-control-sm" id="exam_type" name="exam_type" formControlName="exam_type">
                  <option value="">All</option>
                  <option *ngFor="let _examType of examtypeList" [value]="_examType.guid">
                    {{_examType.name}}
                  </option>
                </select>
              </div> 


              <div class="form-group mb-0">
                <label for="Imported Centres" class="mb-0">Imported Centres #</label>
                <input type="text" class="form-control form-control-sm" [ngClass]="{red:!centresMappingListFormGroup.controls['import_number'].valid}" name="import_number" id="import_number" formControlName="import_number">
              </div>

              <div class="form-group mb-0">
                <label for="Imported Centres Code" class="mb-0">Imported Centres Code</label>
                <input type="text" class="form-control form-control-sm" [ngClass]="{red:!centresMappingListFormGroup.controls['imported_centres_code'].valid}" name="imported_centres_code" id="imported_centres_code" formControlName="imported_centres_code">
              </div>

              <div class="form-group mb-0">
                <label for="Imported Centres Name" class="mb-0">Imported Centres Name</label>
                <input type="text" class="form-control form-control-sm" [ngClass]="{red:!centresMappingListFormGroup.controls['imported_centres_name'].valid}" name="imported_centres_name" id="imported_centres_name" formControlName="imported_centres_name">
              </div>


           <!--Plan Status  -->
          <div class="form-group mb-0">
            <label for="examtype" class="mb-0">PLAN STATUS</label>
            <select class="form-control form-control-sm" id="planning_status" name="planning_status" formControlName="planning_status">
              <option value="">Please Select</option>
              <option *ngFor="let planStatus of planStatus" [value]="planStatus.status_guid">
                {{planStatus.planning_status}}
              </option>
            </select>
          </div>
          <!-- Plan Status -->

            <div class="form-group mb-0">
              <label for="status" class="mb-0">Status</label>
              <select class="form-control form-control-sm" id="status" name="status" formControlName="status">
                <option value="">All</option>
                <option *ngFor="let _status of status" [value]="_status.value">
                  {{_status.name}}
                </option>
              </select>
            </div>              
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary btn-sm px-4" id="btnSubmit" type="submit" (click)="oncentresMappingListFormSubmit($event)">Apply</button>
        <button class="btn btn-default btn-sm px-4 float-right" id="btnReset" type="reset"
          (click)="resetFilters()">Reset</button>
      </div>
    </div>
  </aside>
  