<div class="container-fluid">
  <div class="table-container" *ngIf="questionDetails !== undefined">
    <ng-container [ngSwitch]="questionType">
      <!--single choice question type-->
      <ng-container *ngSwitchCase="'SingleChoice'">
        <app-single-choice-approve [QuestionDetails]="questionDetails"></app-single-choice-approve>
      </ng-container>

      <!--multiple choice question type-->
      <ng-container *ngSwitchCase="'MultipleChoice'">
        <app-multiple-choice-approve [QuestionDetails]="questionDetails"></app-multiple-choice-approve>
      </ng-container>

      <!--true false question type-->
      <ng-container *ngSwitchCase="'TrueFalse'">
        <app-true-false-approve [QuestionDetails]="questionDetails"></app-true-false-approve>
      </ng-container>

      <!--fill blank question type-->
      <ng-container *ngSwitchCase="'FillBlank'">
        <app-fill-blank-approve [QuestionDetails]="questionDetails"></app-fill-blank-approve>
      </ng-container>

      <!--short answer question type-->
      <ng-container *ngSwitchCase="'ShortAnswer'">
        <app-fill-blank-approve [QuestionDetails]="questionDetails"></app-fill-blank-approve>
      </ng-container>

      <!--match question type-->
      <ng-container *ngSwitchCase="'Match'">
          <app-match-approve [QuestionDetails]="questionDetails"></app-match-approve>
        </ng-container>

    </ng-container>
  </div>
</div>

<app-question-filter *ngIf="questionDetails !== undefined" [QuestionStatusList]="questionDetails.requirement_summary"
  [QuestionNumbersList]="questionDetails.requirement_details" [DetailId]="detailId"
  [AssingmentId]="this.questionDetails.question_summary[0].author_assigment_id"
  (selectedQuestionOutput)="onQuestionNumberSelect($event)"></app-question-filter>