<div class="row">
    <div class="col-md-12 mt-3">
        <div class="card card-bordered">
            <div class="card-header text-center bg-light-blue">
                <div class="card-title">Contact Us</div>
            </div>
            <div class="card-body mt-3">
                <div class="row mb-3 p-2">
                    <div class="col-md-6">                       
                       <div><label class="font-weight-bold">iXCheck Technologies Private Limited</label></div> 
                        <div><label>A-61/B4, First Floor Spring Meadows Business Park,</label></div>
                        <div><label>Sector 63, Noida, Uttar Pradesh 201301</label></div>
                    </div>
                    <div class="col-md-6">
                        <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14009.173506238774!2d77.3811702!3d28.6209681!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x66883b57144a2f5!2siXCheck%20Technologies%20Private%20Limited!5e0!3m2!1sen!2sin!4v1612519867788!5m2!1sen!2sin" 
                        width="600" 
                        height="300" 
                        frameborder="5" 
                        style="border:0;"
                        allowfullscreen="" 
                        aria-hidden="false" 
                        tabindex="0"></iframe>
                    </div>
                </div> 
               
            </div>
        </div>

    </div>
</div>
