<div class="container-fluid">
    <div class="table-container">
      <div class="card card-bordered fullheight-min">
        <div class="card-header">
          <div class="header-flex-container">
            <div class="card-title col-4">            
            </div>  
            <div class="paging-block col-4">
              <!--pagination html start-->
              <ngx-ixcheck-table-outer-pagination [itemCount]="itemCount" *ngIf="!notFound"
                [lastSeenIdMax]="lastSeenIdMax" [lastSeenIdMin]="lastSeenIdMin" [lastOffset]="lastOffset"
                (loadTable)="reloadItems($event,false)">
              </ngx-ixcheck-table-outer-pagination>
              <!--pagination html ends-->
            </div>
  
            <div class="filter-container col-4">
              <div id="bubbleBlock" class="bubble-block">
                <!-- bubble start -->
                <app-ngx-ixcheck-bubble (updateSearchData)="updateSearch($event)" (resetFilterData)="resetFilter()"
                  [items]="config.data[0]" [showCountIcon]="config.settings.show_count_icon">
                </app-ngx-ixcheck-bubble>
                <!-- bubble start -->
              </div>
  
              <div class="filter-block" filterToggle>
                <a class="filter-slider">
                  <svg-icon class="filter-slider" src="assets/images/sliders.svg"></svg-icon>
                </a>
              </div>
  
            </div>
          </div>
        </div>
  
        <div class="card-body">
          <div id="basicTable_wrapper" class="dataTables_wrapper no-footer">
            <div class="data-table p-0" *ngIf="!notFound">                
              <ngx-ixcheck-table id="exam-list" headerTitle="Sample Data" [items]="items" [indexColumn]="false"
                [itemCount]="itemCount" [lastSeenIdMax]="lastSeenIdMax" [lastSeenIdMin]="lastSeenIdMin"
                [lastOffset]="lastOffset" [selectColumn]="false">
                  
                <ngx-ixcheck-table-column [property]="'id'" [header]="'Candidate #'" [sortable]="false" >
                </ngx-ixcheck-table-column>                 
                <ngx-ixcheck-table-column [property]="'first_name'" [header]="'First Name'" [sortable]="false">
                </ngx-ixcheck-table-column>     
                <ngx-ixcheck-table-column [property]="'last_name'" [header]="'Last Name'" [sortable]="false">
                </ngx-ixcheck-table-column>     
                <ngx-ixcheck-table-column [property]="'email'" [header]="'Email'" [sortable]="false">
                </ngx-ixcheck-table-column> 
                <ngx-ixcheck-table-column [property]="'phone_no'" [header]="'Phone Number'" [sortable]="false">
                </ngx-ixcheck-table-column>                              
                <ngx-ixcheck-table-column [property]="'address_line1'" [header]="'Address'" [sortable]="false">
                </ngx-ixcheck-table-column>                
                           
                <ngx-ixcheck-table-column [colType]="'custom'">
                  <ng-template #colHeaderComponent>Action</ng-template>
                  <ng-template #colDetailComponent let-rowitem="item">
                    <div *ngIf="rowitem.layout_id" class="btn-group" dropdown>
                      <a href="/#/registration/layout/{{rowitem.id }}/sample-data-view"  (click)="$event.stopPropagation();">View</a>          
                     
                    </div>
                  
                  </ng-template>
                </ngx-ixcheck-table-column>
  
              </ngx-ixcheck-table>
             
            </div>
            <div class="not-found-container" *ngIf="notFound">
              <h5>
                No Data Available...
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <app-layout-sample-data-filter
   (updateEvent)="updateTable($event)"
   [resetFlter]="resetFilterFlag"
   [updatedFilter]="count">
  </app-layout-sample-data-filter>
  