<div class="text-center mt-2">
    <b style="font-size: large;">QUESTION PAPERS</b> <br>
        <b style="color: black;font-size: large;">1</b> <br>
    <div>
        <div class="outer-container">
            <div class="inner-container mr-4">
                <b class="" style="font-size: medium;">SUBJECTS</b><br>
                <b style="color: black;font-size: large;">{{questionPaperDetail ? questionPaperDetail["subject_total"] : 'NA'}}</b>
            </div>
            <div class="inner-container mr-4">
                <b style="font-size: medium;">LANGUAGES</b><br>
                <b style="color: black;font-size: large;">{{questionPaperDetail ? questionPaperDetail["language_total"] : 'NA'}}</b>
            </div>
            <div class="inner-container mr-4">
                <b style="font-size: medium;">SECTIONS</b><br>
                <b style="color: black;font-size: large;">{{questionPaperDetail ? questionPaperDetail["sections_total"] : 'NA'}}</b>
            </div>
            <div class="inner-container mr-4">
                <b style="font-size: medium;">QUESTIONS</b><br>
                <b style="color: black;font-size: large;">{{questionPaperDetail ? questionPaperDetail["questions_total"] : 'NA'}}</b>
            </div>
        </div>
    </div>
</div>