<aside class="filter-menu" id="filterDiv">
  <div class="card card-bordered fullheight-fixed">
    <div class="card-header">
      <div class="card-title">Filter</div>
      <div class="card-controls">
        <ul>
          <li>
            <a class="icon-filter-close" filterToggle bubbleClose>
              <svg-icon class="icon-filter-close" src="assets/images/close.svg"></svg-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-body scrollable">    
      <div class="card-body section-body section-body-sm p-2">
        <form novalidate name="registrationsSetupListForm" id="registrationsSetupListForm" [formGroup]="registrationsSetupListFormGroup" (submit)="onRegistrationsSetupListFormSubmit($event)"
          class="p-0">
          <div class="form-group mb-0">
            <label for="exam" class="mb-0">Exam #</label>
            <input type="text" class="form-control form-control-sm"
              name="exam" id="exam"
              formControlName="exam_number">
          </div>
          <div class="form-group mb-0">
            <label for="code" class="mb-0">Exam Code</label>
            <input type="text" class="form-control form-control-sm"
              name="code" id="code"
              formControlName="code">
          </div>
          <div class="form-group mb-0">
            <label for="name" class="mb-0">Exam Name</label>
            <input type="text" class="form-control form-control-sm"
              name="name" id="name"
              formControlName="name">
          </div>
          <div class="form-group mb-0">
            <label for="examtype" class="mb-0">Exam Type</label>
            <select class="form-control form-control-sm" id="examtype" name="examtype" formControlName="exam_type_guid">
              <option value="">All</option>
              <!-- <option value=null>All</option> -->
              <option *ngFor="let type of examTypeList" [value]="type.guid">
                {{type.name}}
              </option>
            </select>
          </div>        
          <!-- Setup Status -->
          <div class="form-group mb-0">
            <label for="planstatus" class="mb-0">Plan Status</label>
            <select class="form-control form-control-sm" id="planstatus" name="planstatus" formControlName="plan_status_guid">
              <option value="">All</option>
              <!-- <option value=null>All</option> -->
              <option *ngFor="let planstatus of planstatusList" [value]="planstatus.guid">
                {{planstatus.name}}
              </option>
            </select>
          </div>

          <!-- Status -->
          <div class="form-group mb-0">
            <label for="status" class="mb-0">Status</label>
            <select class="form-control form-control-sm" id="status" name="status" formControlName="status">
              <option value="">All</option>
              <!-- <option value=null>All</option> -->
              <option *ngFor="let status of statusList" [value]="status.value">
                {{status.name}}
              </option>
            </select>
          </div>

        </form>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary btn-sm px-4" id="btnSubmit" type="submit" 
        form="registrationsSetupListForm">Apply</button>
      <button class="btn btn-default btn-sm px-4 float-right" id="btnReset" type="reset"
        (click)="resetFilters()">Reset</button>
    </div>
  </div>
</aside>
