<div class="container-fluid" *ngIf="items != null && items.length > 0">
  <div class="table-container">
    <div class="card card-bordered fullheight-min">
      <div class="card-header">
        <div class="header-flex-container">
          <div class="card-title col-4">
            EXAM LIST
          </div>  
          <div class="paging-block col-4">
            <!--pagination html start-->
            <ngx-ixcheck-table-outer-pagination 
              [itemCount]="itemCount" 
              *ngIf="!notFound"
              [lastSeenIdMax]="lastSeenIdMax" 
              [lastSeenIdMin]="lastSeenIdMin" 
              [lastOffset]="lastOffset"
              (loadTable)="reloadItems($event,false)">
            </ngx-ixcheck-table-outer-pagination>
            <!--pagination html ends-->
          </div>

          <div class="filter-container col-4">
            <div id="bubbleBlock" class="bubble-block">
              <!-- bubble start -->
              <app-ngx-ixcheck-bubble (updateSearchData)="updateSearch($event)" (resetFilterData)="resetFilter()"
                [items]="config.data[0]" [showCountIcon]="config.settings.show_count_icon">
              </app-ngx-ixcheck-bubble>
              <!-- bubble start -->
            </div>

            <div class="filter-block" filterToggle>
              <a class="filter-slider">
                <svg-icon class="filter-slider" src="assets/images/sliders.svg"></svg-icon>
              </a>
            </div>

          </div>
        </div>
      </div>

      <div class="card-body">
        <div id="basicTable_wrapper" class="dataTables_wrapper no-footer">
          <div class="data-table p-0" *ngIf="!notFound">                
            <ngx-ixcheck-table id="exam-list" headerTitle="Exam List" [items]="items" [indexColumn]="false"
              [itemCount]="itemCount" [lastSeenIdMax]="lastSeenIdMax" [lastSeenIdMin]="lastSeenIdMin"
              [lastOffset]="lastOffset" [selectColumn]="false">
                
              <ngx-ixcheck-table-column [property]="'exam_number'" [header]="'Exam Number'" [sortable]="false" >
              </ngx-ixcheck-table-column>                 
              <ngx-ixcheck-table-column [property]="'code'" [header]="'Code'" [sortable]="false">
              </ngx-ixcheck-table-column>                              
              <ngx-ixcheck-table-column [property]="'exam_grade'" [header]="'Exam Grade'" [sortable]="false">
              </ngx-ixcheck-table-column>  
              <ngx-ixcheck-table-column [property]="'status'" [header]="'Plan Status'"  [colType]="'custom'">
               <ng-template #colDetailComponent let-rowitem="item">
                 <span class="badge {{rowitem.plan_status_css_tag}}">{{rowitem.plan_status_text}}</span>
               </ng-template>
             </ngx-ixcheck-table-column>                                                                                       
              <ngx-ixcheck-table-column [property]="'status'" [header]="'Status'"  [colType]="'custom'">
                <ng-template #colDetailComponent let-rowitem="item">
                  <span class="badge {{rowitem.status_css_tag}}">{{rowitem.status_text}}</span>
                </ng-template>
              </ngx-ixcheck-table-column>                 
              <ngx-ixcheck-table-column [colType]="'custom'">
                <ng-template #colHeaderComponent>Action</ng-template>
                <ng-template #colDetailComponent let-rowitem="item">
                  <div *ngIf="rowitem.id" class="btn-group">
                    <a href="/#/exam/publish/{{rowitem.exam_guid}}/response">Publish</a>                                     
                  </div>
                
                </ng-template>
              </ngx-ixcheck-table-column>

            </ngx-ixcheck-table>
           
          </div>
          <div class="not-found-container" *ngIf="notFound">
            <h5>
              No Data Available...
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-publish-list-filter
  (updateEvent)="updateTable($event)"
  [resetFlter]="resetFilterFlag"
  [updatedFilter]="count">  
 </app-publish-list-filter>