<aside class="filter-menu" id="filterDiv">
    <div class="card card-bordered fullheight-min">
        <div class="card-header">
            <div class="card-title">Filter</div>
            <div class="card-controls">
                <ul>
                    <li>
                        <a class="icon-filter-close" filterToggle bubbleClose>
                            <svg-icon class="icon-filter-close" src="assets/images/close.svg"></svg-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card-body scrollable">
            <div class="card-body section-body section-body-sm p-2">

                <form novalidate name="centreEditForm" id="centreEditForm" [formGroup]="centreEditFormGroup"
                    (submit)="centreListFormSubmit()" class="p-0">

                <!-- State -->
                    <div class="form-group mb-0">
                        <label for="state" class="mb-0">State</label>
                        <select class="form-control form-control-sm" id="state" name="state" formControlName="state"
                            (change)="onStateChange($event)">
                            <option value="">All</option>
                            <option *ngFor="let _states of statesList" [value]="_states.guid">
                                {{_states.name}}
                            </option>
                        </select>
                    </div>
                    
                    <!-- City -->
                    <div class="form-group mb-0">
                        <label for="city" class="mb-0">City</label>
                        <select class="form-control form-control-sm" id="city" name="city" formControlName="city">
                            <option value="">All</option>
                            <option *ngFor="let _city of citiesList" [value]="_city.guid">
                                {{_city.name}}
                            </option>
                        </select>
                    </div>

                    <!-- Code -->
                    <div class="form-group mb-0">
                        <label for="code" class="mb-0">Code</label>
                        <input type="text" class="form-control form-control-sm"
                            [ngClass]="{red:!centreEditFormGroup.controls['code'].valid}" name="code" id="code"
                            formControlName="code">
                    </div>

                    <!-- Name -->
                    <div class="form-group mb-0">
                        <label for="name" class="mb-0">NAME</label>
                        <input type="text" class="form-control form-control-sm"
                            [ngClass]="{red:!centreEditFormGroup.controls['name'].valid}" maxlength="50" name="name"
                            id="name" formControlName="name">
                    </div>

                    <!-- Ph Seats -->
                    <div class="form-group mb-0">
                        <label for="min_ph_seats" class="mb-0">PH Seats</label>
                        <div class="form-row">
                            <div class="col-lg-5 col-sm-5  col-5">
                                <input type="number" class="form-control form-control-sm" title="Min Ph Seats"
                                    [ngClass]="{red:!centreEditFormGroup.controls['min_ph_seats'].valid}" name="min_ph_seats" id="min_ph_seats"
                                    formControlName="min_ph_seats">
                            </div>
                            <div class="col-lg-2 col-sm-2  col-2" style="text-align: center;"> - </div>
                            <div class="col-lg-5 col-sm-5  col-5">
                                <input type="number" class="form-control form-control-sm" title="Max Ph Seats"
                                    [ngClass]="{red:!centreEditFormGroup.controls['max_ph_seats'].valid}" name="max_ph_seats" id="max_ph_seats"
                                    formControlName="max_ph_seats">
                            </div>
                        </div>
                    </div>

                    <!-- Normal Seats -->
                    <div class="form-group mb-0">
                        <label for="min_normal_seats" class="mb-0">Normal Seats</label>
                        <div class="form-row">
                            <div class="col-lg-5 col-sm-5  col-5">
                                <input type="number" class="form-control form-control-sm" title="Min Normal Seats"
                                    [ngClass]="{red:!centreEditFormGroup.controls['min_normal_seats'].valid}" name="min_normal_seats" id="min_normal_seats"
                                    formControlName="min_normal_seats">
                            </div>
                            <div class="col-lg-2 col-sm-2  col-2" style="text-align: center;"> - </div>
                            <div class="col-lg-5 col-sm-5  col-5">
                                <input type="number" class="form-control form-control-sm" title="Max Normal Seats"
                                    [ngClass]="{red:!centreEditFormGroup.controls['max_normal_seats'].valid}" name="max_normal_seats"
                                    id="max_normal_seats" formControlName="max_normal_seats">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-sm px-4" id="btnSubmit" type="submit" (click)="centreListFormSubmit()"
                form="permissionForm">Apply</button>
            <button class="btn btn-default btn-sm px-4 float-right" id="btnReset" type="reset"
                (click)="resetFilters()">Reset</button>
        </div>
    </div>
</aside>