<div class="container-fluid">
    <div class="card card-bordered fullheight-fixed">
      <div class="card-body">
  
        <div *ngIf="itemPriority1.length>0" id="basicTable_wrapper" class="dataTables_wrapper no-footer">
          <!-- CITIES PRIORITY -->
          <div class="row form-group trad foc">
            <div class="col-md-10">
              <label>CITIES PRIORITY - 1 of {{priority}}</label>
            </div>
          </div>
  
          <div class="card card-bordered">
            <ngx-ixcheck-table id="banks-list" headerTitle="Exam List" [items]="itemPriority1" [indexColumn]="false"
              [itemCount]="itemCount" [lastSeenIdMax]="lastSeenIdMax" [lastSeenIdMin]="lastSeenIdMin"
              [lastOffset]="lastOffset" [selectColumn]="false">
  
              <!-- state -->
              <ngx-ixcheck-table-column [property]="'city_name'" [header]="'city'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
              <!-- city -->
              <ngx-ixcheck-table-column [property]="'state_name'" [header]="'state'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
              <!-- Ph female -->
              <ngx-ixcheck-table-column [property]="'ph_female'" [header]="'Ph female'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
              <!-- Ph other -->
              <ngx-ixcheck-table-column [property]="'ph_other'" [header]="'Ph other'" [sortable]="false">
              </ngx-ixcheck-table-column>

              <!-- Reserved Female -->
              <ngx-ixcheck-table-column [property]="'reserved_female'" [header]="'Reserved Female'" [sortable]="false">
              </ngx-ixcheck-table-column>
              
              <!-- Reserved Other -->
              <ngx-ixcheck-table-column [property]="'other_reserved'" [header]="'Reserved Other'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
              <!-- other female -->
              <ngx-ixcheck-table-column [property]="'other_female'" [header]="'other female'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
              <!-- other -->
              <ngx-ixcheck-table-column [property]="'other_other'" [header]="'other'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
              <!-- total -->
              <ngx-ixcheck-table-column [property]="'total'" [header]="'total'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
            </ngx-ixcheck-table>
          </div>
          <!-- <div class="not-found-container" *ngIf="notFound">
              <h5>
                No Data Available...
              </h5>
            </div> -->
        </div>
  
        <div *ngIf="itemPriority2.length>0" id="basicTable_wrapper" class="dataTables_wrapper no-footer mt-5">
          <!-- CITIES PRIORITY -->
          <div class="row form-group trad foc">
            <div class="col-md-10">
              <label>CITIES PRIORITY - 2 of {{priority}}</label>
            </div>
          </div>
  
          <div class="card card-bordered">
            <ngx-ixcheck-table id="banks-list" headerTitle="Exam List" [items]="itemPriority2" [indexColumn]="false"
              [itemCount]="itemCount" [lastSeenIdMax]="lastSeenIdMax" [lastSeenIdMin]="lastSeenIdMin"
              [lastOffset]="lastOffset" [selectColumn]="false">
  
              <!-- state -->
              <ngx-ixcheck-table-column [property]="'city_name'" [header]="'city'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
              <!-- city -->
              <ngx-ixcheck-table-column [property]="'state_name'" [header]="'state'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
              <!-- Ph female -->
              <ngx-ixcheck-table-column [property]="'ph_female'" [header]="'Ph female'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
              <!-- Ph other -->
              <ngx-ixcheck-table-column [property]="'ph_other'" [header]="'Ph other'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
              <!-- other female -->
              <ngx-ixcheck-table-column [property]="'other_female'" [header]="'other female'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
              <!-- other -->
              <ngx-ixcheck-table-column [property]="'other_other'" [header]="'other'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
              <!-- total -->
              <ngx-ixcheck-table-column [property]="'total'" [header]="'total'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
            </ngx-ixcheck-table>
          </div>
          <!-- <div class="not-found-container" *ngIf="notFound">
              <h5>
                No Data Available...
              </h5>
            </div> -->
        </div>
  
        <div *ngIf="itemPriority3.length>0" id="basicTable_wrapper" class="dataTables_wrapper no-footer mt-5">
          <!-- CITIES PRIORITY -->
          <div class="row form-group trad foc">
            <div class="col-md-10">
  
              <label>CITIES PRIORITY - 3 of {{priority}}</label>
            </div>
          </div>
  
          <div class="card card-bordered">
            <ngx-ixcheck-table id="banks-list" headerTitle="Exam List" [items]="itemPriority3" [indexColumn]="false"
              [itemCount]="itemCount" [lastSeenIdMax]="lastSeenIdMax" [lastSeenIdMin]="lastSeenIdMin"
              [lastOffset]="lastOffset" [selectColumn]="false">
  
              <!-- state -->
              <ngx-ixcheck-table-column [property]="'city_name'" [header]="'city'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
              <!-- city -->
              <ngx-ixcheck-table-column [property]="'state_name'" [header]="'state'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
              <!-- Ph female -->
              <ngx-ixcheck-table-column [property]="'ph_female'" [header]="'Ph female'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
              <!-- Ph other -->
              <ngx-ixcheck-table-column [property]="'ph_other'" [header]="'Ph other'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
              <!-- other female -->
              <ngx-ixcheck-table-column [property]="'other_female'" [header]="'other female'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
              <!-- other -->
              <ngx-ixcheck-table-column [property]="'other_other'" [header]="'other'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
              <!-- total -->
              <ngx-ixcheck-table-column [property]="'total'" [header]="'total'" [sortable]="false">
              </ngx-ixcheck-table-column>
  
            </ngx-ixcheck-table>
          </div>
          <!-- <div class="not-found-container" *ngIf="notFound">
              <h5>
                No Data Available...
              </h5>
            </div> -->
        </div>
      </div>
  
      <!-- Form Submit -->
      <!-- <div class="card-footer">
          <button class="btn btn-sm btn-primary" id="submitBtn" [disabled]="!examShiftFormGroup.valid" type="submit"
            (click)="formSubmit()">Update</button>
  
        </div> -->
    </div>
  
  </div>
  