<div class="row">
    <div class="col-md-12 mt-3">
        <div class="card card-borderless">
            <div class="card-header text-center bg-light-blue">
                <div class="card-title">Helpline Details (Timing : 9:00 a.m. to 6:00 p.m.)</div>
            </div>
            <div class="card-body mt-3">
                <div class="row  p-2">
                    <div class="col-md-12 mb-3">
                        <h6 class="font-weight-bold">Related to Technical Problems</h6>                       
                    </div>
                    <div class="col-md-3">
                        <label class="font-weight-bold">
                            Email : 
                        </label>
                    </div>
                    <div class="col-md-9">
                        xyz@mail.com
                    </div>
                </div> 
                <div class="row mb-3 p-2 ">
                    <div class="col-md-3">
                        <label class="font-weight-bold">
                            Mobile No. :
                        </label>
                    </div>
                    <div class="col-md-9">
                        xxxx-xxx-xxxx, xxxxxxxxxx
                    </div>
                </div> 
                
                <hr>
                <div class="row  p-2">
                    <div class="col-md-12 mb-3">
                        <h6 class="font-weight-bold">Related to Fee Payment</h6>                     
                    </div>
                    <div class="col-md-3">
                        <label class="font-weight-bold">
                            Mobile No. :
                        </label>
                    </div>
                    <div class="col-md-9">
                       xxxxxxxxxx
                    </div>
                </div> 
            
             
            </div>
        </div>

    </div>
</div>
