<div class="text-center mt-2" style="overflow-x: auto;">
    <b style="font-size: large;">CENTER ALLOCATION</b> <br>
    <div>
        <div class="row outer-container">
            <div class="col-md-4 inner-container">
                <b class="" style="font-size: medium;">SHIFT 1-CITY PREF 1</b><br>
                <b class="" style="font-size: medium;">CANDIDATES:- </b><b style="color: black;font-size: large;">8,950</b><br>
                <div class="outer-container">
                    <div class="inner-container mr-4">
                        <b style="font-size: medium;">PH-F </b><br><b style="color: black;font-size: 13px;">XXXX</b>
                    </div>
                    <div class="inner-container mr-4">
                        <b style="font-size: medium;">PH-O </b><br><b style="color: black;font-size: 13px;">XXXX</b>
                    </div>
                    <div class="inner-container mr-4">
                        <b style="font-size: medium;">RES-F </b><br><b style="color: black;font-size: 13px;">XXXX</b>
                    </div>
                    <div class="inner-container mr-4">
                        <b style="font-size: medium;">RES-O </b><br><b style="color: black;font-size: 13px;">XXXX</b>
                    </div>
                    <div class="inner-container mr-4">
                        <b style="font-size: medium;">OTHER-F </b><br><b style="color: black;font-size: 13px;">XXXX</b>
                    </div>
                    <div class="inner-container mr-4">
                        <b style="font-size: medium;">OTHER </b><br><b style="color: black;font-size: 13px;">XXXX</b>
                    </div>
                </div>
            </div>
            <div class="col-md-4 inner-container">
                <b class="" style="font-size: medium;">SHIFT 1-CITY PREF 2</b><br>
                <b style="color: black;font-size: large;">1,025</b>
                <div class="outer-container">
                    <div class="inner-container mr-4">
                        <b style="font-size: medium;">PH-F </b><br><b style="color: black;font-size: 13px;">XXXX</b>
                    </div>
                    <div class="inner-container mr-4">
                        <b style="font-size: medium;">PH-O </b><br><b style="color: black;font-size: 13px;">XXXX</b>
                    </div>
                    <div class="inner-container mr-4">
                        <b style="font-size: medium;">RES-F </b><br><b style="color: black;font-size: 13px;">XXXX</b>
                    </div>
                    <div class="inner-container mr-4">
                        <b style="font-size: medium;">RES-O </b><br><b style="color: black;font-size: 13px;">XXXX</b>
                    </div>
                    <div class="inner-container mr-4">
                        <b style="font-size: medium;">OTHER-F </b><br><b style="color: black;font-size: 13px;">XXXX</b>
                    </div>
                    <div class="inner-container mr-4">
                        <b style="font-size: medium;">OTHER </b><br><b style="color: black;font-size: 13px;">XXXX</b>
                    </div>
                </div>
            </div>
            <div class="col-md-4 inner-container">
                <b class="" style="font-size: medium;">SHIFT 1-CITY PREF 3</b><br>
                <b style="color: black;font-size: large;">300</b>
                <div class="outer-container">
                    <div class="inner-container mr-4">
                        <b style="font-size: medium;">PH-F </b><br><b style="color: black;font-size: 13px;">XXXX</b>
                    </div>
                    <div class="inner-container mr-4">
                        <b style="font-size: medium;">PH-O </b><br><b style="color: black;font-size: 13px;">XXXX</b>
                    </div>
                    <div class="inner-container mr-4">
                        <b style="font-size: medium;">RES-F </b><br><b style="color: black;font-size: 13px;">XXXX</b>
                    </div>
                    <div class="inner-container mr-4">
                        <b style="font-size: medium;">RES-O </b><br><b style="color: black;font-size: 13px;">XXXX</b>
                    </div>
                    <div class="inner-container mr-4">
                        <b style="font-size: medium;">OTHER-F </b><br><b style="color: black;font-size: 13px;">XXXX</b>
                    </div>
                    <div class="inner-container mr-4">
                        <b style="font-size: medium;">OTHER </b><br><b style="color: black;font-size: 13px;">XXXX</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>