<div class="row" style="background-color: #dddddd; margin: auto">
    <div class="col-sm-12 p-3">
        <form [formGroup]="regTypeFormGroup" autocomplete="off" name="regTypeFormGroup"
            id="regTypeFormGroup">
            <div class="row app-form">

                <div class="col-md-2 col-lg-2">
                    <div class="form-group foc trad">
                        <label> Code</label>
                        <input type="text" formControlName="code" class="form-control" name="code"
                            (click)="$event.stopPropagation();" disabled>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <div class="form-group foc trad">
                        <label> Name</label>
                        <input type="text" formControlName="name" class="form-control" name="name"
                            (click)="$event.stopPropagation();" disabled>

                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                     </div>
            </div>
        </form>
    </div>
</div>