.change-password-fullheight-min {
    position: relative;
    min-height: calc(100vh - 180px );
    margin: 10;
}

.was-validated {
    input.ng-invalid,  
    select.ng-invalid {
        border: 1px solid lightcoral;
    }
    input.ng-valid, 
    select.ng-valid {
        border: 1px solid lightgreen;
    }
}

.tooltip~.tooltiptext {
    visibility: hidden;
    margin-top: 25px;
    height: auto;
    overflow: auto;
    border: 1px solid #d8d8d8;
    margin-left: 20px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.13);
    background-color: #fff;
    text-align: justify;
    padding: 8px;
    font-size: 13px;
    letter-spacing: .03em;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover~.tooltiptext {
  
    visibility: visible;
  }
  
  .hint {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }