:host::ng-deep {
    .nav.nav-tabs {
        .nav-item.active{
            border-bottom: 1px solid #ffffff !important
        }
      
    }
    .nav-tabs .nav-link { 
        text-transform: uppercase;
        font-weight: 500;
        font-family: montserrat;
        font-size: 14px;
        letter-spacing: .02em;
        vertical-align: middle;
        color: rgba(44, 44, 44, 0.35);
    }

    .nav-item.active {
        border: 1px solid #ced4da !important;
        border-bottom: 1px solid #ced4da !important
    }
    .card-header a:not(.btn) {
        padding-top: 4px !important; 
        padding-bottom: 4px !important; 
        padding-left: 8px !important;
        padding-right: 8px !important;
    }   
}

.card .card-header {
    min-height: 0;
    padding-bottom: 25px;
}

.was-validated{
    border-color: red;
}