<div class="row" style="background-color: #dddddd; margin: auto">
  <div class="col-sm-12 p-3">
    <form [formGroup]="applicableFeeFormGroup" autocomplete="off" name="applicableFeeFormGroup"
      id="applicableFeeFormGroup">
      <div class="row app-form">

        <div class="col-md-2 col-lg-2">
          <div class="form-group foc trad">
            <label>Level 1</label>

            <select class="form-control" #drp1 formControlName="level1" id="level1" name="level1">
              <option value="" selected>Select</option>
              <option [disabled]='type.guid==drp2.value || type.guid==drp3.value' *ngFor="let type of feeSetupList"
                [value]="type.guid">
                {{type.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-2 col-lg-2">
          <div class="form-group foc trad">
            <label>Level 2</label>
            <select class="form-control" #drp2 formControlName="level2" id="level2" name="level2">
              <option value="" selected>Select</option>
              <option [disabled]='type.guid==drp1.value || type.guid==drp3.value' *ngFor="let type of feeSetupList"
                [value]="type.guid">
                {{type.name}}
              </option>
            </select>

          </div>

        </div>
        <div class="col-md-2 col-lg-2">
          <div class="form-group foc trad">
            <label>Level 3</label>
            <select class="form-control" #drp3 formControlName="level3" id="level3" name="level3">
              <option value="" selected>Select</option>
              <option [disabled]='type.guid==drp1.value || type.guid==drp2.value' *ngFor="let type of feeSetupList"
                [value]="type.guid">
                {{type.name}}
              </option>
            </select>

          </div>

        </div>
       <div class="col-md-2 col-lg-2">
          <div class="form-group foc trad">
            <label>Fees</label>
            <input type="number" class="form-control" formControlName="amount">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-sm btn-primary px-4" type="button" [disabled]="!applicableFeeFormGroup.valid"
            (click)="onApplicableFeesFormSubmit()">Update</button>
          <button class="btn btn-sm btn-default px-4 ml-2" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>