<div class="card card-bordered mt-3" id="payment-form-container">
  <div class="card-body scrollable">

    <div class="app-form">
      <form novalidate name="PaymentGatewayForm" id="PaymentGatewayForm" [formGroup]="PaymentGatewayFormGroup">

        <div class="col-lg-2 col-sm-4 form-group trad foc required">
          <label for="reg_id" class="mb-0">Registration Number</label>
          <input type='text' class="form-control form-control-sm" formControlName="reg_id" name='reg_id' required
            readonly>
        </div>
        <div class="col-lg-2 col-sm-4 form-group trad foc required">
          <label for="name" class="mb-0">Student Name</label>
          <input type='text' class="form-control form-control-sm" formControlName="name" name='name' required readonly>
        </div>

        <div class="col-lg-2 col-sm-4 form-group trad foc required">
          <label for="email" class="mb-0">Email</label>
          <input type='text' class="form-control form-control-sm" formControlName="email" name='email' required
            readonly>
        </div>

        <div class="col-lg-2 col-sm-4 form-group trad foc required">
          <label for="mobile_number" class="mb-0">Mobile #</label>
          <input type='text' class="form-control form-control-sm" formControlName="mobile_number" name='mobile_number'
            required readonly>
        </div>


        <div class="col-lg-2 col-sm-4 form-group trad foc required">
          <label for="payment_amount" class="mb-0">Payment Amount</label>
          <input type='text' class="form-control form-control-sm" formControlName="payment_amount" name='Payment Amount'
            required readonly>
        </div>

      </form>
    </div>

    <div *ngIf="OnlinePayment === false" class="app-form">
      <form novalidate name="PaymentGatewayOffline" id="PaymentGatewayOfflineForm"
        [formGroup]="PaymentGatewayOfflineFormGroup">

        <!--payment_sbicollect_detail starts-->
        <div *ngIf="PaymentGatewayTypeId === '4'" class="col-lg-2 col-sm-4 form-group trad foc required">
          <label for="name" class="mb-0">Name</label>
          <input type='text' class="form-control form-control-sm" formControlName="name" name='name'>
        </div>
        <div *ngIf="PaymentGatewayTypeId === '4'" class="col-lg-2 col-sm-4 form-group trad foc required">
          <label for="payment_date" class="mb-0">Payment Date</label>
          <input type='date' class="form-control form-control-sm" formControlName="payment_date" name='payment_date'>
        </div>

        <!--payment_sbicollect_detail ends-->
        <!--payment_challan_detail starts-->
        <div *ngIf="PaymentGatewayTypeId === '5' || PaymentGatewayTypeId === '6'"
          class="col-lg-2 col-sm-4 form-group trad foc required">
          <label for="bank_name" class="mb-0">Bank Name</label>
          <input type='text' class="form-control form-control-sm" formControlName="bank_name" name='bank_name'>
        </div>
        <div *ngIf="PaymentGatewayTypeId === '5'" class="col-lg-2 col-sm-4 form-group trad foc required">
          <label for="challan_number" class="mb-0">Challan Number</label>
          <input type='text' class="form-control form-control-sm" formControlName="challan_number"
            name='challan_number'>
        </div>
        <div *ngIf="PaymentGatewayTypeId === '5'" class="col-lg-2 col-sm-4 form-group trad foc required">
          <label for="challan_date" class="mb-0">Challan Date</label>
          <input type='date' class="form-control form-control-sm" formControlName="challan_date" name='challan_date'>
        </div>

        <!--payment_challan_detail ends-->

        <!--payment_cheque_detail starts-->
        <div *ngIf="PaymentGatewayTypeId === '6'" class="col-lg-2 col-sm-4 form-group trad foc required">
          <label for="mode_cheque_dd" class="mb-0">Mode Cheque / DD</label>

          <select class="form-control" formControlName="mode_cheque_dd" name="mode_cheque_dd">
            <option value="Cheque">Cheque</option>
            <option value="DD">Demand Draft (DD)</option>
          </select>
        </div>
        <div *ngIf="PaymentGatewayTypeId === '6'" class="col-lg-2 col-sm-4 form-group trad foc required">
          <label for="cheque_dd_number" class="mb-0">Cheque / DD Number</label>
          <input type='number' class="form-control form-control-sm" formControlName="cheque_dd_number"
            name='cheque_dd_number'>
        </div>
        <div *ngIf="PaymentGatewayTypeId === '6'" class="col-lg-2 col-sm-4 form-group trad foc required">
          <label for="cheque_dd_date" class="mb-0">Cheque / DD Date</label>
          <input type='date' class="form-control form-control-sm" formControlName="cheque_dd_date"
            name='cheque_dd_date'>
        </div>

        <!--payment_cheque_detail ends-->
      </form>
    </div>
  </div>

  <div *ngIf="PaymentGatewayTypeId !== '3' && OnlinePayment === true" class="card-footer">
    <button class="btn btn-sm btn-primary" id="submitBtn" type="button" (click)="onFormSubmit()">Pay Now</button><!--For paytm & payumoney payment gateway-->
  </div>

  <div *ngIf="OnlinePayment === false" class="card-footer">
    <button class="btn btn-sm btn-primary" type="button" (click)="SubmitOfflineForm()">Save</button><!--For offline payment gateway-->
  </div>

  <div *ngIf="PaymentGatewayTypeId === '3' && OnlinePayment === true" class="card-footer">
    <button class="btn btn-sm btn-primary" type="button" (click)="initRazorPay()">PAY NOW</button><!--For razorpay payment gateway-->
  </div>
</div>