:host ::ng-deep {
    .card .card-body.scrollable {
      margin-bottom: 45px;
    }

    .red{
      border: 1px solid red !important;
    }
  
    @media (min-width: 992px) {
      .fullheight-fixed {
        height: calc(100vh - 230px);
      }
    }

    span{
      // float: right;
      font-weight: bold;
    }

    #template {
      height:200px;
    }
}