<aside class="filter-menu" id="filterDiv">
    <div class="card card-bordered fullheight-fixed">
        <div class="card-header">
            <div class="card-title">Filter</div>
            <div class="card-controls">
                <ul>
                    <li>
                        <a class="icon-filter-close" filterToggle bubbleClose>
                            <svg-icon class="icon-filter-close" src="assets/images/close.svg"></svg-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body scrollable">
            <div class="card-body section-body section-body-sm p-2">
                <form novalidate name="registrationsListFormGroup" id="registrationsListFormGroup"
                    [formGroup]="registrationsListFormGroup" (submit)="onRegistrationsListFormSubmit($event)"
                    class="p-0">
                    <div class="form-group mb-0">
                        <label for="code" class="mb-0">Registartion Code</label>
                        <input type="text" class="form-control form-control-sm" title=" Registartion Code" name="code" id="code"
                            formControlName="code">
                    </div>
                    <div class="form-group mb-0">
                        <label for="name" class="mb-0">Registartion Name</label>
                        <input type="text" class="form-control form-control-sm" title=" Registartion Name" name="name" id="name"
                            formControlName="name">
                    </div>
                    <div class="form-group mb-0">
                        <label for="code" class="mb-0">Exam Code</label>
                        <input type="text" class="form-control form-control-sm" title="Exam Code" name="code"
                            id="exam_code" formControlName="exam_code">
                    </div>
                    <div class="form-group mb-0">
                        <label for="name" class="mb-0">Exam Name</label>
                        <input type="text" class="form-control form-control-sm" title=" Exam Name" name="exam_name"
                            id="exam_name" formControlName="exam_name">
                    </div>
                    <div class="form-group mb-0">
                        <label for="exam_type" class="mb-0">Exam Type</label>
                        <select class="form-control form-control-sm" id="exam_type" name="exam_type"
                            formControlName="exam_type" title="Exam Type">
                            <option value="">All</option>
                            <option *ngFor="let type of examTypeList" [value]="type.exam_type_guid">
                                {{type.name}}
                            </option>
                        </select>
                    </div>
                    <!-- Setup Status -->
                    <div class="form-group mb-0">
                        <label for="plan_status" class="mb-0">Plan Status</label>
                        <select class="form-control form-control-sm" id="plan_status" name="plan_status"
                            formControlName="plan_status" title="Plan Status">
                            <option value="">All</option>
                            <option *ngFor="let planstatus of planstatusList" [value]="planstatus.status_guid">
                                {{planstatus.status_text}}
                            </option>
                        </select>
                    </div>

                    <!-- Status -->
                    <div class="form-group mb-0">
                        <label for="status" class="mb-0">Status</label>
                        <select class="form-control form-control-sm" id="status" name="status" formControlName="status"
                            title="Status">
                            <option value="">All</option>
                            <option *ngFor="let status of statusList" [value]="status.value">
                                {{status.name}}
                            </option>
                        </select>
                    </div>

                </form>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-sm px-4" id="btnSubmit" type="submit"
                form="registrationsListFormGroup">Apply</button>
            <button class="btn btn-default btn-sm px-4 float-right" id="btnReset" type="reset"
                (click)="resetFilters()">Reset</button>
        </div>
    </div>
</aside>