<div class="card card-bordered fullheight-fixed" >
    <div class="card-header">
      <div class="header-flex-container">
        <div class="card-title col-4">
        </div>
        <div class="paging-block col-4">        
        </div>
        <div class="filter-container col-4">          
          <div class="filter-block" filterToggle>
            <a class="filter-slider">
              <svg-icon class="filter-slider" src="assets/images/sliders.svg"></svg-icon>
            </a>
          </div>    
        </div>           
      </div>            
    </div>
<div class="card-body scrollable app-form" >
    <form class="app-form" [formGroup]="questionAddSetupFormGroup">
      <div class="row">                 
        <div class="col-lg-4 col-sm-4 form-group trad foc">
          <label for="exam_number">Exam Number</label>
          <input type="text" class="form-control form-control-sm" formControlName="exam_number">
        </div> 
        <div class="col-lg-4 col-sm-4 form-group trad foc">
          <label for="exam_grade">Exam Grade</label>
          <input type="text" class="form-control form-control-sm" formControlName="exam_grade">
        </div> 
        <div class="col-lg-4 col-sm-4 form-group trad foc">
          <label for="difficulty_level">Difficulty Level</label>
          <input type="text" class="form-control form-control-sm" formControlName="difficulty_level">
        </div> 

        <div class="col-lg-4 col-sm-4 form-group trad foc">
          <label for="exam_type">Exam Type</label>
          <input type="text" class="form-control form-control-sm" formControlName="exam_type">
        </div> 

        <div class="col-lg-4 col-sm-4 form-group trad foc">
          <label for="subject">Subject</label>
          <input type="text" class="form-control form-control-sm" formControlName="subject">
        </div> 

        <div class="col-lg-4 col-sm-4 form-group trad foc">
          <label for="question_type">Question Type</label>
          <input type="text" class="form-control form-control-sm" formControlName="question_type">
        </div> 

        <div class="col-lg-4 col-sm-4 form-group trad foc">
          <label for="exam_code">Exam Code</label>
          <input type="text" class="form-control form-control-sm" formControlName="exam_code">
        </div> 

        
        <div class="col-lg-4 col-sm-4 form-group trad foc">
          <label for="language">Language</label>
          <input type="text" class="form-control form-control-sm" formControlName="language">
        </div> 

        
        <div class="col-lg-4 col-sm-4 form-group trad foc">
          <label for="questions">Question #</label>
          <input type="text" class="form-control form-control-sm" formControlName="questions">
        </div> 
                                                                                                
      </div>   
    </form>  
<div class="row">
    <div class="col-md-12 mt-3">
      <form class="app-form" [formGroup]="questionAddFormGroup" id="questionAddForm">      
      <tabset class="tabset-container" #tabset>
        <tab heading="QUESTION" class="mt-3" [active]="true" id="questionTab">
          <quill-editor 
          formControlName="question"
          [modules]="quillConfig"></quill-editor>                             
        </tab>
        <ng-container formArrayName="optionsArray">
          <ng-container *ngFor="let option of QuestionDetails.options; index as i">                  
            <tab  heading="OPTION {{option.option_number}}" class="mt-3">
              <quill-editor [formControlName]="i" [modules]="quillConfig"></quill-editor>                                      
            </tab>                                  
          <ng-container *ngIf="i===QuestionDetails.options.length-1">
            <tab  heading="REFERENCES" class="mt-3">
              <app-manage-references 
              [refrences]="QuestionDetails.question_references"
              [QuestionId]="QuestionDetails.question[0].question_id"
              (updatedReferencesList)="updateReferenceList($event)">
            </app-manage-references>
            </tab>    
            <tab heading="FINAL VIEW" class="mt-3" [disabled]="!questionAddFormGroup.valid">
              <div class="card card-bordered mb-0">
                <div class="card-body mb-0 d-flex">
                  <span>Q {{QuestionDetails.question_summary[0].question_number}}. &nbsp;</span>
                  <!-- <div [froalaView]="questionAddFormGroup.get('question').value"></div> -->
                  <quill-view [content]="questionAddFormGroup.get('question').value"></quill-view>
                </div>
              </div>  
              <div class="card card-bordered mb-0" *ngFor="let option of QuestionDetails.options; index as i">
                <div class="card-body mb-0 d-flex">
                  <span>{{optionList[i]}} &nbsp;</span>
                  <!-- <div [froalaView]="questionAddFormGroup.get('optionsArray').value[i]"></div>  -->
                  <quill-view [content]="questionAddFormGroup.get('optionsArray').value[i]"></quill-view>
                  <div class="ml-auto">
                   <span> Right Answer </span>
                    <input 
                    type="radio" 
                    class="large_radio"
                    [checked]="option.selected" 
                    (change)="onAnswerCheckboxChange($event,option)">                                          
                  </div>
                </div>
              </div>   
            </tab>
            <tab  heading="AUDIT TRAIL" class="mt-3">
              <app-audit-trail [QuestionId]="QuestionDetails.question[0].question_id"></app-audit-trail>
            </tab> 
          </ng-container>
        </ng-container>
        </ng-container>                                                               
      </tabset>
      </form>            
    </div>            
  </div> 
</div>
  <div class="card-footer">         
    <input 
    type="button" 
    class="btn btn-primary" 
    value="Submit"          
    (click)="onAddQuestionFormsubmit()">
    <input type="button" class="btn btn-default float-right" value="Reset">  
  </div>
</div>