<aside class="filter-menu" id="filterDiv">
  <div class="card card-bordered fullheight-fixed">
    <div class="card-header">
      <div class="card-title">Filter</div>
      <div class="card-controls">
        <ul>
          <li>
            <a class="icon-filter-close" filterToggle bubbleClose>
              <svg-icon
                class="icon-filter-close"
                src="assets/images/close.svg"
              ></svg-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card-body scrollable">
      <div class="card-body section-body section-body-sm p-2">
        <form
          novalidate
          [formGroup]="publishFormGroup"
          (submit)="onpublishFormSubmit()"
          class="p-0"
        >
          <div class="form-group mb-0">
            <label for="exam_number" class="mb-0">Exam #</label>
            <input
              type="text"
              class="form-control form-control-sm"
              [ngClass]="{
                red: !publishFormGroup.controls['exam_number'].valid
              }"
              name="exam_number"
              id="exam_number"
              formControlName="exam_number"
            />
          </div>

          <div class="form-group mb-0">
            <label for="exam_code" class="mb-0">EXAM CODE</label>
            <input
              type="text"
              class="form-control form-control-sm"
              [ngClass]="{ red: !publishFormGroup.controls['exam_code'].valid }"
              name="exam_code"
              id="exam_code"
              formControlName="exam_code"
            />
          </div>

          <div class="form-group mb-0">
            <label for="exam_name" class="mb-0">EXAM NAME</label>
            <input
              type="text"
              class="form-control form-control-sm"
              [ngClass]="{ red: !publishFormGroup.controls['exam_name'].valid }"
              name="exam_name"
              id="exam_name"
              formControlName="exam_name"
            />
          </div>

          <div class="form-group mb-0">
            <label for="examtype" class="mb-0">Exam Type</label>
            <select class="form-control form-control-sm" id="examtype" name="examtype" formControlName="exam_type">
              <option value="">All</option>
              <!-- <option value=null>All</option> -->
              <option *ngFor="let type of examTypeList" [value]="type.exam_type_guid">
                {{type.name}}
              </option>
            </select>
          </div>

          <!-- Setup Status -->
          <div class="form-group mb-0">
            <label for="publish_status" class="mb-0">Plan Status</label>
            <select class="form-control form-control-sm" id="publish_status" name="publish_status" formControlName="publish_status">
              <option value="">All</option>
              <!-- <option value=null>All</option> -->
              <option *ngFor="let planstatus of planstatusList" [value]="planstatus.guid">
                {{planstatus.name}}
              </option>
            </select>
          </div>


          <!-- Status -->
          <div class="form-group mb-0">
            <label for="status" class="mb-0">EXAM STATUS</label>
            <select
              class="form-control form-control-sm"
              id="status"
              name="status"
              formControlName="status"
            >
              <option value="" [selected]="true">All</option>
              <option *ngFor="let status of statusList" [value]="status.value">
                {{ status.name }}
              </option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <div class="card-footer">
      <button
        class="btn btn-primary btn-sm px-4"
        id="btnSubmit"
        type="submit"
        (click)="onpublishFormSubmit()"
        form="permissionForm"
      >
        Apply
      </button>
      <button
        class="btn btn-default btn-sm px-4 float-right"
        id="btnReset"
        type="reset"
        (click)="resetFilters()"
      >
        Reset
      </button>
    </div>
  </div>
</aside>
