<div class="container-fluid">
  <div class="table-container">
    <form class="app-form" [formGroup]="mappedCentreFormGroup" novalidate="">
      <div class="card card-bordered fullheight-min">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="row form-group  foc">
                <div class="col-md-4">
                  <!-- <label>EXAM NUMBER</label><br>
                 <label class="mapcentrecolor">{{orgionalData?.exam_number}}</label> -->
                  <label for="exam_code" class="col-lg-6 p-2 mb-0">EXAM NUMBER</label>
                  <input type="text" class="col-lg-6 p-2 form-control form-control-sm" name="exam_number"
                    id="exam_number" formControlName="exam_number" required>
                </div>

                <div class="col-md-4">
                  <!-- <label>EXAM NAME</label><br>
                <label class="mapcentrecolor">{{orgionalData?.name}}</label> -->
                  <label for="exam_code" class="col-lg-6 p-2 mb-0">EXAM NAME</label>
                  <input type="text" class="col-lg-6 p-2 form-control form-control-sm" name="name" id="name"
                    formControlName="name" required>
                </div>

                <div class="col-md-4">
                  <label for="exam_code" class="col-lg-6 p-2 mb-0">IMPORTED CENTRE CODE</label>
                  <input type="text" class="col-lg-6 p-2 form-control form-control-sm" name="importedCentreCode"
                    id="importedCentreCode" formControlName="importedCentreCode" required>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="row form-group  foc">
                <div class="col-md-4">
                  <!-- <label>EXAM CODE</label><br>
                 <label class="mapcentrecolor">{{orgionalData?.code}} </label> -->
                  <label for="exam_code" class="col-lg-6 p-2 mb-0">EXAM CODE</label>
                  <input type="text" class="col-lg-6 p-2 form-control form-control-sm" name="code" id="code"
                    formControlName="code" required>
                </div>

                <div class="col-md-4">
                  <!-- <label>EXAM TYPE</label><br>
                <label class="mapcentrecolor">{{orgionalData?.exam_type}} </label> -->
                  <label for="exam_code" class="col-lg-6 p-2 mb-0">EXAM TYPE</label>
                  <input type="text" class="col-lg-6 p-2 form-control form-control-sm" name="exam_type" id="exam_type"
                    formControlName="exam_type" required>
                </div>

                <div class="col-md-4 ">
                  <!-- <label>IMPORTED CENTRE NAME</label><br>
                <label class="mapcentrecolor" >{{items[0]?.imported_centre_name}}</label> -->
                  <label for="exam_code" class="col-lg-6 p-2 mb-0">IMPORTED CENTRE NAME</label>
                  <input type="text" class="col-lg-6 p-2 form-control form-control-sm" name="imported_centre_name"
                    id="imported_centre_name" formControlName="imported_centre_name" required>
                </div>

              </div>
            </div>
          </div>
          <div class="row tablemargin">
            <div class="col-md-12 col-lg-12">
              <div class="col-md-4">
                <div class="row form-group ">
                  <label class="mapcentrecolor">Centres List</label>
                </div>
              </div>
            </div>
          </div>

          <div id="basicTable_wrapper" class="dataTables_wrapper no-footer">
            <div class="data-table p-0" *ngIf="!notFound">

              <!-- table start -->
              <ngx-ixcheck-table id="mapCentreslist" headerTitle="Imported centres" [items]="items"
                [indexColumn]="false" [itemCount]="itemCount" [lastSeenIdMax]="lastSeenIdMax"
                [lastSeenIdMin]="lastSeenIdMin" [lastOffset]="lastOffset" [selectColumn]="false"
                [expandOnIndexColClick]="true" [expandOnRowClick]="false">


                <ng-template #rowDetailExpand let-rowitem="item">
                  <app-centre-mapping-view-details [item]="rowitem" [rowItemData]=rowitem>
                  </app-centre-mapping-view-details>
                </ng-template>

                <!-- City   -->
                <ngx-ixcheck-table-column [property]="'city_name'" [header]="'City'" [sortable]="false">
                </ngx-ixcheck-table-column>

                <!-- State -->
                <ngx-ixcheck-table-column [property]="'state_name'" [header]="'State'" [sortable]="false">
                </ngx-ixcheck-table-column>

               <!-- Ph Seat -->
               <ngx-ixcheck-table-column [property]="'pwd_seats'" [header]="'Ph Seat'" [sortable]="false">
              </ngx-ixcheck-table-column>

               <!-- Normal Seat -->
               <ngx-ixcheck-table-column [property]="'normal_seats'" [header]="'Normal Seat'" [sortable]="false">
              </ngx-ixcheck-table-column>

                <!-- Total Seat -->
                <ngx-ixcheck-table-column [property]="'total_seats'" [header]="'Total Seat'" [sortable]="false">
                </ngx-ixcheck-table-column>

              </ngx-ixcheck-table>
              <!-- table end -->
            </div>
            <div class="not-found-container" *ngIf="notFound">
              <h5>
                No Data Available...
              </h5>
            </div>
          </div>

        </div>
        <!-- Form Submit -->
      </div>
    </form>
  </div>
</div>