<div class="row">
    <div class="col-md-12 mt-3">
        <div class="card card-borderless">
            <div class="card-header text-center bg-light-blue">
                <div class="card-title">Important Dates</div>
            </div>
            <div class="card-body mt-3">
                <div class="row mb-3 bg-light p-2">
                    <div class="col-md-3">
                        <label class="font-weight-bold">
                            Starting Date for Online Registration
                        </label>
                    </div>
                    <div class="col-md-9">
                        16th June 2017
                    </div>
                </div> 
                <div class="row mb-3 p-2">
                    <div class="col-md-3">
                        <label class="font-weight-bold">
                            Closing Date for Online Registration
                        </label>
                    </div>
                    <div class="col-md-9">
                        25th June 2017
                    </div>
                </div> 
                
                <div class="row mb-3 bg-light p-2">
                    <div class="col-md-3">
                        <label class="font-weight-bold">
                            Commencement of Classes
                        </label>
                    </div>
                    <div class="col-md-9">
                        20th July 2017
                    </div>
                </div> 

                <div class="row mb-3 p-2">
                    <div class="col-md-3">
                        <label class="font-weight-bold">
                            Schedule of Examination
                        </label>
                    </div>
                    <div class="col-md-9">
                        To be announced
                    </div>
                </div> 
            </div>
        </div>

    </div>
</div>
