<aside class="filter-menu" id="filterDiv">
  <div class="card card-bordered fullheight-fixed">
    <div class="card-header">
      <div class="card-title">Filter</div>
      <div class="card-controls">
        <ul>
          <li>
            <a class="icon-filter-close" filterToggle bubbleClose>
              <svg-icon class="icon-filter-close" src="assets/images/close.svg"></svg-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card-body scrollable">
      <div class="card-body section-body section-body-sm p-2">

        <form novalidate name="examsForm" id="examsForm" [formGroup]="examsFormGroup" (submit)="onexamsFormSubmit()"
          class="p-0">

          <!-- Exam # -->
          <div class="form-group mb-0">
            <label for="exam" class="mb-0">Exam #</label>
            <input type="text" class="form-control form-control-sm"
              [ngClass]="{red:!examsFormGroup.controls['code'].valid}" maxlength="50" name="exam" id="exam"
              formControlName="exam_number">
          </div>

          <!-- Code -->
          <div class="form-group mb-0">
            <label for="code" class="mb-0">Exam Code</label>
            <input type="text" class="form-control form-control-sm"
              [ngClass]="{red:!examsFormGroup.controls['code'].valid}" maxlength="50" name="code" id="code"
              formControlName="code">
          </div>

          <!-- Name -->
          <!-- <div class="form-group mb-0">
            <label for="name" class="mb-0">Exam Name</label>
            <input type="text" class="form-control form-control-sm"
              [ngClass]="{red:!examsFormGroup.controls['name'].valid}" maxlength="50" name="name" id="name"
              formControlName="name">
          </div> -->

          <!--Exam Grade Type  -->
          <div class="form-group mb-0">
            <label for="grade_type_guid" class="mb-0">Exam Grade</label>
            <select class="form-control form-control-sm" id="grade_type_guid" name="grade_type_guid" formControlName="grade_type_guid">
              <option value="" selected>All</option>
              <option *ngFor="let type of examGradeList" [value]="type.guid">
                {{type.name}}
              </option>
            </select>
          </div>

           <!-- Plan Status -->
          <div class="form-group mb-0">
            <label for="planstatus" class="mb-0">Plan Status</label>
            <select class="form-control form-control-sm" id="planstatus" name="planstatus" formControlName="plan_status_guid">
              <option value="" selected>All</option>
              <option *ngFor="let planstatus of planstatusList" [value]="planstatus.guid">
                {{planstatus.name}}
              </option>
            </select>
          </div>

          <!-- Status -->
          <div class="form-group mb-0">
            <label for="status" class="mb-0">Status</label>
            <select class="form-control form-control-sm" id="status" name="status" formControlName="status">
              <option  selected value="">All</option>
              <option *ngFor="let status of statusList" [value]="status.value">
                {{status.name}}
              </option>
            </select>
          </div>


          <!-- Subject -->
          <!-- <div class="form-group mb-0">
            <label for="examsubject" class="mb-0">Subjects</label>
            <select class="form-control form-control-sm" id="examsubject" name="examsubject" formControlName="subject_guid">
              <option value="null">All</option>
              <option *ngFor="let subject of subjectList" [value]="subject.code">
                {{subject.name}}
              </option>
            </select>
          </div> -->

          <!-- Section -->
          <!-- <div class="form-group mb-0">
            <label for="section" class="mb-0">Number of Sections</label>
            <input type="text" class="form-control form-control-sm"
              [ngClass]="{red:!examsFormGroup.controls['code'].valid}" maxlength="50" name="section" id="section"
              formControlName="sections">
          </div> -->

        

        

        </form>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary btn-sm px-4" id="btnSubmit" type="submit" (click)="onexamsFormSubmit()"
        form="permissionForm">Apply</button>
      <button class="btn btn-default btn-sm px-4 float-right" id="btnReset" type="reset"
        (click)="resetFilters()">Reset</button>
    </div>
  </div>
</aside>
