<form class="app-form">
    <div class="row">                 
      <div class="col-lg-4 col-sm-4 form-group trad foc">
        <label for="exam_number">Exam Number</label>
        <input type="text" class="form-control form-control-sm"
        [value]="ExamDetails.exam_number" disabled>
      </div> 
      <div class="col-lg-4 col-sm-4 form-group trad foc">
        <label for="exam_grade">Exam Grade</label>
        <input type="text" class="form-control form-control-sm"
        [value]="ExamDetails.exam_grade" disabled>
      </div> 
      <div class="col-lg-4 col-sm-4 form-group trad foc">
        <label for="difficulty_level">Difficulty Level</label>
        <input type="text" class="form-control form-control-sm"
        [value]="ExamDetails.difficulty_level" disabled>
      </div> 

      <div class="col-lg-4 col-sm-4 form-group trad foc">
        <label for="exam_type">Exam Type</label>
        <input type="text" class="form-control form-control-sm"
        [value]="ExamDetails.exam_type" disabled>
      </div> 

      <div class="col-lg-4 col-sm-4 form-group trad foc">
        <label for="subject">Subject</label>
        <input type="text" class="form-control form-control-sm"
        [value]="ExamDetails.subject" disabled>
      </div> 

      <div class="col-lg-4 col-sm-4 form-group trad foc">
        <label for="question_type">Question Type</label>
        <input type="text" class="form-control form-control-sm"
        [value]="ExamDetails.question_type" disabled>
      </div> 

      <div class="col-lg-4 col-sm-4 form-group trad foc">
        <label for="exam_code">Exam Code</label>
        <input type="text" class="form-control form-control-sm"
        [value]="ExamDetails.code" disabled>
      </div> 

      
      <div class="col-lg-4 col-sm-4 form-group trad foc">
        <label for="language">Language</label>
        <input type="text" class="form-control form-control-sm"
        [value]="ExamDetails.language" disabled>
      </div> 

      
      <div class="col-lg-4 col-sm-4 form-group trad foc">
        <label for="questions">Question #</label>
        <input type="text" class="form-control form-control-sm">
        <!-- [value]="ExamDetails.number_of_options" -->
      </div>  
                                                                                              
    </div>   
  </form> 