<div class="container-fluid" >
    <div class="table-container">
      <div class="card card-bordered fullheight-fixed">

        <div class="card-body scrollable app-form" >
          <form class="app-form" [formGroup]="emailSetupFormGroup">
            <div class="row">                 
              <div class="col-lg-4 col-sm-4 form-group trad foc">

                <div class="row">                 
                    <div class="col-lg-12 col-sm-12 form-group trad foc">
                        <label for="smtp_server">SMTP SERVER</label>
                        <input type="text" class="form-control form-control-sm" formControlName="smtp_server">
                    </div>
               </div> 
              
            <div class="row">    
              <div class="col-lg-12 col-sm-12 form-group trad foc">
                <label for="smtp_port">SMTP PORT</label>
                <input type="number" min="0" max="9999" class="form-control form-control-sm" formControlName="smtp_port">
              </div> 
            </div> 

           <div class="row">      
              <div class="col-lg-12 col-sm-12 form-group trad foc">
                <label for="sender_email">SENDER'S EMAIL ID</label>
                <input type="text" class="form-control form-control-sm" formControlName="sender_email">
              </div> 
           </div>  

           <div class="row">    
              <div class="col-lg-12 col-sm-12 form-group trad foc">
                <label for="sender_name">SENDER'S NAME</label>
                <input type="text" class="form-control form-control-sm" formControlName="sender_name">
              </div> 
           </div> 

           <div class="row">    
              <div class="col-lg-12 col-sm-12 form-group trad foc">
                <label for="verify_email">VERIFY E-MAIL ACCOUNT</label>
                <input type="text" class="form-control form-control-sm" formControlName="verify_email">
              </div> 
           </div> 

           <div class="row">    
              <div class="col-lg-12 col-sm-12 form-group trad foc">
                <label for="password">PASSWORD</label>
                <input type="password" class="form-control form-control-sm" formControlName="password">
              </div> 
            </div> 

           <div class="row">    
              <div class="col-lg-12 col-sm-12 form-group trad foc">
                <label for="email_sub_text">EMAIL SUBJECT'S TEMPLATE TEXT</label>
                <textarea style="height: 130px;" type="text" class="form-control form-control-sm" formControlName="email_sub_text"></textarea>                
              </div> 
            </div>  
            <div class="row">
                <div class="col-lg-12 col-sm-12 form-group trad foc">                
                 <input 
                 type="checkbox" 
                 class="large_checkbox" formControlName="attach_admit_card">   
                 <label for="attach_admit_card">ATTACH ADMIT CARD</label>
                </div>                                       
           </div>
        </div>   
              <div class="col-lg-8 col-sm-8 form-group trad foc">
                <div class="row">  
                  <div class="col-lg-12 col-sm-12 form-group trad foc">
                  <label for="email_placeholder">EMAIL'S PLACEHOLDER TAGS</label>
                  <div class="card card-bordered" style="height: 110px;">
                    <div class="card-body">
                      <div class="row" >                 
                        <div class="col-lg-12 col-sm-12">
                          <div class="row">                 
                            <div class="col-lg-4 col-sm-4" *ngFor="let tag of emailPlaceHolderTags">
                              <span>{{tag}}</span>  
                            </div>
                          </div>       
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               </div>

               <div class="row">                 
                <div class="col-lg-12 col-sm-12">
                    <label for="email_body_template">EMAIL'S BODY TEMPLATE</label>
                    <quill-editor formControlName="email_body_template"></quill-editor>
                </div>
              </div>
              </div>
           </div>
         </form>                       
        </div>
      </div>
    </div> 
    </div>